*.gem
*.rbc
*.swn
*.swo
*.swp
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
bin/psc
lib/bundler/man
deps/program_space/psc
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

