*.gem
*.rbc
*.swn
*.swo
*.swp
.vagrant
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
deps/program_space/psc
pkg
rdoc
spec/reports
spec/fixtures/**
test/tmp
test/version_tmp
tmp
psc
ps_rootfs

